.ios {
    //ios style here
}

.additionalInfo{
    margin: 0px 10px;
    vertical-align: text-bottom;
}

.primaryclr{
    color: var(--ion-color-success)
}

.secondaryclr{
    color:var(--ion-color-primary)
}
